<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yourbay.me.testdocumentprovider">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name=".DocumentActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- This activity alias is added so that GET_CONTENT intent-filter
     can be disabled for builds on API level 19 and higher. -->
        <!--<activity-alias-->
        <!--android:name=".DocProvider"-->
        <!--android:targetActivity=".DocumentActivity"-->
        <!--android:grantUriPermissions="true"-->
        <!--android:exported="true"-->
        <!--android:permission="android.permission.MANAGE_DOCUMENTS">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.GET_CONTENT" />-->

        <!--<category android:name="android.intent.category.OPENABLE" />-->
        <!--<category android:name="android.intent.category.DEFAULT" />-->

        <!--<action android:name="android.content.action.DOCUMENTS_PROVIDER" />-->

        <!--<data android:mimeType="image/*" />-->
        <!--<data android:mimeType="video/*" />-->
        <!--</intent-filter>-->
        <!--</activity-alias>-->

        <!--android:name="yourbay.me.testdocumentprovider.DemoDocumentProvider"-->
        <provider
            android:name="yourbay.me.testdocumentprovider.DocProvider"
            android:authorities="yourbay.me.testdocumentprovider.documents"
            android:grantUriPermissions="true"
            android:exported="true"
            android:permission="android.permission.MANAGE_DOCUMENTS"
            android:enabled="true">
            <!--android:enabled="@bool/atMostJellyBeanMR2"-->
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
    </application>

</manifest>
